/*

14.03.2010
Sercan Aksoy
http://www.buraya.com
sercan@bulsam.net

*/
 @CHARSET "UTF-8";

/*arka plan*/
div#genel {
	width: 500px;
	background-color: 8AE8FF;
	font: 20px arial;
	color: #00AAD5;
	padding: 11px;
	text-align: center;
}

/*form kutularının bulunduğu alan*/
div#bolum {
	font: 14px arial;
	color: #000;
	margin-top: 20px;
}

/* td arasındaki boşluk ayarları*/
div#bolum  td {
	width: 100px;
	padding-bottom: 5px;
}

/*form kutuları için genişlik ve yükseklik ayarları*/
.box {
	border: 3px solid #51DCFF;
	background-color: #fff;
	width: 257px;
	height: 30px;
}

/*textaera için genişlik ve yükseklik ayarları*/
.text_area {
	border: 3px solid #51DCFF;
	background-color: #fff;
	width: 257px;
	height: 60px;
}

/*submit buton ayarları*/
.btn {
	width: 88px;
	height: 39px;
	background-image: url(iletisim-formu/bg.png);
	background-repeat: repeat-x;
	border: 3px solid #52DCFF;
	color: #fff;
	font: 19px arial;
}